<span>{{ substring @eta.arrT 11}}</span>
<span>{{ @eta.rt }}</span>
<span>{{ @eta.stpDe }}</span>
{{!--
<span>staId:{{ @eta.staId }}</span>
<span>stpId:{{ @eta.stpId }}</span>
<span>staNm:{{ @eta.staNm }}</span>
<span>stpDe:{{ @eta.stpDe }}</span>
<span>rn:{{ @eta.rn }}</span>
<span>rt:{{ @eta.rt }}</span>
<span>destSt:{{ @eta.destSt }}</span>
<span>destNm:{{ @eta.destNm }}</span>
<span>trDr:{{ @eta.trDr }}</span>
<span>prdt:{{ @eta.prdt }}</span>
<span>arrT:{{ @eta.arrT }}</span>
<span>isApp:{{ @eta.isApp }}</span>
<span>isSch:{{ @eta.isSch }}</span>
<span>isDly:{{ @eta.isDly }}</span>
<span>isFlt:{{ @eta.isFlt }}</span>
<span>flags:{{ @eta.flags }}</span>
<span>lat:{{ @eta.lat }}</span>
<span>lon:{{ @eta.lon }}</span>
<span>heading:{{ @eta.heading }}</span>
--}}
