<HeroSearch @searchFilters={{searchFilters}} @minQueryLength={{minQueryLength}}
  @updateSearchFilters={{action "updateSearchFilters"}} />
{{#each filteredStations as |station|}}
  <li>
    <LinkTo @route="station" @model={{station.id}}>{{station.STATION_NAME}}</LinkTo>
  </li>
{{/each}}
