<ul>
  {{#each sortedStops as |stop|}}
    <li>
      <StationStop @station={{station}} @stop={{stop}} />
    </li>
  {{/each}}
</ul>
<hr>
<StationStopEtas @stop={{station}} @etas={{sortedEtas}} @skipSortEtas={{true}} />
